:root{
    --primeryColor:#ff0a4b;
    --secondColor:#f7bcf7;
    --lightColor:#ffffff;
    --bgColor1:#111315;
    --bgColor2:#151d1d;
    --padding:8%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    font-family: "Josefin Sans", sans-serif;
    color: var(--lightColor);
}
#logo{
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    
}
h1{
    font-size: 2rem;
    cursor: pointer;
    letter-spacing: 0,3rem;
    padding-bottom: 2rem;
}
h5{
    color: var(--secondColor);
    margin-bottom: 1.5rem;
}
h4{
    padding-bottom: 1.5rem;
    letter-spacing: 0.1rem;
}
p{
    color: var(--secondColor);
}
span{
    color: var(--primeryColor);
}
/* **************************** --Home-- */
.home{
    background-color: var(--bgColor1);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    padding-top: 2rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    background-color: var(--bgColor1);
    width: 100%;
}
nav ul li {
    list-style-type: none;
    
}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    margin: 0.4rem;
    transition: 0.4s;
}
nav ul li a:hover{
    color: var(--primeryColor);
}
.btn{
    text-decoration: none;
    color: var(--lightColor);
    background-color: var(--primeryColor);
    font-weight: bold;
    border-radius: 30px;
    padding: 0.81rem 1.8rem;
    transition: 0.4s;
    border:  2px solid transparent;
    width: max-content;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primeryColor);

}
.home .content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .content-texts{
    padding-left: var(--padding);
    padding-right: var(--padding);
    position: relative;
    bottom: 70px;
}
.home .social img{
 width: 2.4rem;  
margin-left: 1rem;
margin-top: 2rem;
transition: 0.4s;
}
.home .social img:hover{
    transform: scale(1.3);
}
.home .content-imgs{

    position: relative;
    width: 50%;
    height: 100%;
}
.home .content-imgs img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1.3s;

}
.shape{
    width: 80%;
}
.pic{
    width: 60%;
}
.home .content-imgs:hover .shape{
    bottom: 40px;
}
.home .content-imgs:hover .pic{
    left: 45%;
}
/* **************************** ABOUT SECTION *********** */
.about{
    background-color: var(--bgColor2); 
    padding: 2rem var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about .content-img{
    width: 35%;
}
.about .content-img img{
    width: 90%;
}
.about .content-texts{
    width: 35%;
}
/* ****************************** SERVICES SECTION */
.services{
    background-color: var(--bgColor1);
    padding: 2rem var(--padding);
}
 .txt-center{  /*item mochtarak*/
    text-align: center;
}
.content-box{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}
.card i{
    font-size: 2rem;
    padding-bottom: 1.3rem;
    color: var(--primeryColor);
    
}
.card{
    width: 250px; 
    background-color: var(--bgColor2);
    border-radius: 30px;
    padding: 2.5rem 1rem;
    text-align: center;
}
/* **************************** SKILS SECTION */


.skils{
    background-color: var(--bgColor2);
    display: flex;
    align-items: center;
    padding: 2rem var(--padding);
}
.skils .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.skils .content-icon img{
    background-color: var(--lightColor);
    border-radius: 50%;
    padding: 0.5rem 0.5rem;
}
.skils .content-icon{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    
    
}
.skils .content-img {
    width: 35%;
}

.skils .content-img img{
    width: 100%;
}
/* *********************************FOUTER SECTION */
footer{
    background-color: var(--bgColor1);
    padding: 2rem var(--padding);
}
footer .conetent-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ********************************* MENU BUTTON*/
#menu{
    display: none;
    user-select: none;
    border: none;
    outline: none;
    background:none;
}

#menu.is-active #s1{
background-color: aqua;
transform: translate(0px,8px) rotate(45deg);
}
#menu.is-active #s2{
opacity: 0;

}
#menu.is-active #s3{
    background-color: aqua;
    transform: translate(0px,-8px) rotate(-45deg);
}



#menu span{
    display: block;
    background-color: var(--lightColor);
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    transition: 0.4s;
}
/* ********************************* MEDIA QUIREIS */
@media screen and (max-width:557px){
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 18px;
    }
    .home{
        margin-top: 5rem;
    }
    .home .content-imgs{
        display: none;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
        border-bottom: 2px solid var(--bgColor2);
    }
    nav .btn{
        display: none;
    }
    nav ul li{ 
        display: none;
        position: fixed;
        background-color: var(--bgColor2);
        top: 0;
        left: 0;
        width: 80%;
        height: 90%;
        text-align: center;
        padding: var(--padding);
        line-height: 3rem;
        margin: 2rem;
    }
    nav ul li.is-active{
        display: block;
    }
    nav ul li a{
        display: block;
    }
    #menu{
        display: block;
    }

    .home .content .btn,.home .content h4{
        margin-bottom: 2rem;
    }
    .home .content h1{
        font-size: 3rem;
        line-height: 1.5;
    }
    .home .content-texts{
        padding-top: 100px;
    }
    .about{
        display: block;
    }
    .about .content-img img{
        display: none;
    }
    .about .content-texts {
        width: 100%;
    }
    .services .card{
        width: 100%;
    }
    .skils .content-img {
        display: none;
    }
    .skils .content {
        width: 100%;
    }
}